.content, .main-content, .concierge-content {
  &.ng-enter {
    transition: opacity 0.3s 0.2s;
    opacity: 0;
  }

  &.ng-enter-active {
    opacity: 1.0;
  }
  &.ng-leave {
    display: none;
  }
}
