

body {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1 {
  text-align: center;
  color: inherit;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 0.1em;
}

h2 {
  text-align: center;
  color: inherit;
  text-transform: lowercase;
  font-weight: 200;
  letter-spacing: 0.1em;
  margin: 1em 0;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
  font-weight: 400;
  font-variant: small-caps;
}

hr {
  border: 0;
  height: 5px;
  background: transparentize(white, 0.7);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
}

p {
  font-weight: 300;
  letter-spacing: 0.02em;
  word-spacing: 0.02em;
  margin-bottom: 2.5em;
}

aside {
  @extend small;

  margin-bottom: 2em;
}

%main-content {
  @extend .small-12;
  @extend .medium-10;

  margin: 1em auto;

  border: 0.2em solid black;
  border-radius: 4px;

  .header {
    margin: 0 0 2em 0;
    padding: 3em 3.5em 3em;
    position: relative;

    .meal-name {
      display: inline-block;
      text-align: center;
      width: 8em;
      transform: rotate(-90deg);
      transform-origin: left center;
      text-transform: uppercase;
      font-weight: 100;
      position: absolute;
      color: black;
      letter-spacing: 0.33em;
      top: 8.5em;
      left: 2em;
    }
  } // end .header
}

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
