body.breakfast {
  background-image: url(../images/pastry.jpg);
}

body.lunch {
  background-image: url(../images/veggie-bowl.jpg);
}

body.dinner {
  background-image: url(../images/fried-fish.jpg);
}

body.snack {
  background-image: url(../images/apples.jpg);
}

body.dashboard {
  background-image: url(../images/tapas.jpg);
}

body.error {
  background-image: url(../images/gum.jpg);
}

body.not-found {
  background-image: url(../images/empty-wine-glasses.jpg);
}

body.login {}

body.unauthorized {
  background-image: url(../images/hand-with-donuts.jpg);
}
