.standard-btn {
  @extend .button;

  border: 1px solid $charcoal;
  border-radius: 4px;

  background: transparent;

  font-family: $headerFonts;
  font-weight: 100;
  color: $charcoal;

  text-transform: lowercase;
  letter-spacing: 0.12em;

  &:hover, &:active, &:focus {
    background: $secondary-color;
    color: white;
  }

  &.centered {
    @extend .block-center;
  }
}

.btn-easy {
  border-color: $easy;
  &:hover, &:active, &:focus {
    background: $easy;
  }
}

.btn-medium {
  border-color: $medium;
  &:hover, &:active, &:focus {
    background: $medium;
  }
}

.btn-hard {
  border-color: $hard;
  &:hover, &:active, &:focus {
    background: $hard;
  }
}

.scroller-container {
  text-align: center;

  .btn-scroller {
    display: inline-block;
    height: 1.8em;
    width: 1.8em;

    background: transparentize(white, 0.5);

    margin: 0.1em auto;
    padding: 0.2em;

    border: 3px solid $charcoal;
    border-radius: 1000px;

    color: $charcoal;
    line-height: 1.5;
    font-size: 2.5em;

    &:hover, &:focus, &:active {
      background: transparentize(white, 0.25);
      transition: background-color 0.15s;
    }

    .icon-arrow-down {
      padding: 0
    }
  }
}
