// DEFAULTS

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    padding: 0;
    margin: 0;
  }
}

// STYLIZED LISTS

.circledLI {
  border-radius: 999px;
  border: 2px solid black;
  padding: 0.3em;
  width: 2.1em;
  height: 2.1em;
  display: inline-block;
  text-align: center;
  vertical-align: auto;
  position: relative;
  left: -0.5em;
  line-height: 1.1;
}

.circled-star-list {
  li {
    min-height: 2.5em;
    margin-bottom: 1em;
    padding-left: 2em;
    text-align: left;
    position: relative;

    &:before {
      @extend .circledLI;
      content: '★';
    }
  }
}

.circled-number-list {
  list-style: none;
  counter-reset: numList;

  li {
    min-height: 2.5em;
    margin-bottom: 1.8em;
    line-height: 1.8;

    &:before {
      @extend .circledLI;
      counter-increment: numList;
      content: counter(numList);
    }
  }
}