// COLORS

$charcoal: #333333;

$pale-snow: #FFFEFE;
$snow: #FFF1F1;
$pot-pourri: #F0CFCF;
$turkish-rose: #AA7171;

$pale-green-snow: #FFFDFE;
$ivory: #FFFEF1;
$rum-swizzle: #F0EECF;
$green-smoke: #AAA671;

$floral-white: #FFFEFD;
$frosted-mint: #F7FCFA;
$opal: #A4BCB5;
$dark-green-copper: #4A7065;

$magnolia: #FEFDFF;
$solitude: #F7F7F9;
$logan: #A5A3BA;
$kimberly: #575476;

$red-theme: $pale-snow, $snow, $pot-pourri, $turkish-rose;
$green-theme: $pale-green-snow, $ivory, $rum-swizzle, $green-smoke;
$blue-green-theme: $floral-white, $frosted-mint, $opal, $dark-green-copper;
$purple-theme: $magnolia, $solitude, $logan, $kimberly;

// TYPOGRAPHY

