doctype
html
  head
    title What's for Dinner?
    link(rel='stylesheet', href='../css/#{mainCSS}')
    link(rel='stylesheet', href='http://i.icomoon.io/public/dea34bb888/whatsfordinner/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,600')
    script(type='text/javascript', src="../js/#{vendorJS}")
    script(type= 'text/javascript', src = '../js/#{templateJS}')
    script(type='text/javascript', src='../js/#{allJS}')
  body(ng-app="whatsForDinnerApp", ng-class='bodyClass')
    .content(app-view-segment='0')
