header
    nav
        ul
            li(ng-if='user.signedIn')
                a(ng-click='showDashboard()') Dashboard
            li(ng-if='user.signedIn')
                a(ng-click='showConcierge()') Concierge
            li(ng-if='user.signedIn')
                a(ng-click='logout()') Logout
            li(ng-if='!user.signedIn')
                a(ng-click='showLogin()') Login
    .home-icon
        icon(name='home', ng-click='phoneHome()')
