.dashboard-container {
  @extend %main-content;

  .dashboard-content {
    @extend .row;
  }

  .user-panel {
    @extend .columns;
    @extend .medium-4;
  }

  .tabbable {
    @extend .columns;
    @extend .medium-8
  }

  h5 {
    text-align: right;
  }

  .history-row {
    border: 1px solid black;
    border-radius: 4px;

    // Corrects an odd visual bug with Chrome and border clipping
    overflow: hidden;

    margin: 1em 0;

    .history-header-row {
      @extend .row;
      padding: 1em 0 1em;

      .event-time {
        @extend .columns;
        @extend .medium-3;
        font-size: 85%;
        font-variant: small-caps;
      }

      .event-recipe-title {
        @extend .columns;
        @extend .medium-6;
        @extend .small-9;

        @extend .medium-text-center;

        h3 {
          text-align: inherit;
          margin: 0;
          font-size: 1em;

          font-weight: 200;
          letter-spacing: 0.05em;
        }
      }

      .event-type {
        @extend .columns;
        @extend .small-3;

        text-align: right;

        text-transform: lowercase;

        font-size: 85%;
        font-variant: small-caps;
      }
    }

    .confirmation {
      padding: 1.5em 1em;
      @extend .medium-text-center;
    }
  }

  .rating-row {
    border: 1px solid $dark-green-copper;
    border-radius: 4px;

    // Corrects an odd visual bug with Chrome and border clipping
    overflow: hidden;

    margin: 1em 0;

    text-align: center;

    .rating-header-row {
      background: $frosted-mint;
      padding: 1em 0 1em;
    }

    .rating-bar {
      padding: 1em 0.5em;

      span {
        display: inline-block;
        padding: 0.5em;
        font-size: 2.5em;
      }

      .icon-dislike, .icon-dislike-no {
        color: $hard;
      }

      .icon-meh, .icon-meh-no {
        color: $medium;
      }

      .icon-like, .icon-like-no {
        color: $easy;
      }

      .icon-dislike-no, .icon-meh-no, .icon-like-no {
        opacity: 0.7;
        transition: 0.15s opacity;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}


@mixin themeHistoryRows($name, $theme) {
  $off-white: nth($theme, 1);
  $light: nth($theme, 2);
  $med: nth($theme, 3);
  $dark: nth($theme, 4);

  .history-row.#{$name} {
    border-color: $dark;

    .history-header-row {
      background: $light;
    }
  }
}

@include themeHistoryRows('selected', $red-theme);
@include themeHistoryRows('rejected', $green-theme);
@include themeHistoryRows('rated', $blue-green-theme);
