%hero-unit {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  padding: 1em 0 6em;
  border-bottom: 10px solid white;

  h1 {
    margin: 10vh 0 1em;
    padding: 0.5em;
    background: transparentize(white, 0.45);
  }

  @media #{$large-up} {
    h1 {
      font-size: 4em;
    }
  }

  .content-row {
    background: transparentize(white, 0.06);
    margin-bottom: 2em;
    border: 3px solid transparentize(white, 0.8);
    border-radius: 3px;
  }

  .hero-content-box {
    .inner {
      display: inline-block;
      padding: 0.5em;
      width: 100%;

      text-align: center;

      p {
        max-width: 20em;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

%hero-unit:not(#splash) {
  h2 {
    margin-bottom: 0;
  }
}

// SASS does squirrely things if these @extends are included
// in the above declaration.
.content-row {
  @extend .row;
}

.hero-content-box {
  @extend .columns;
  @extend .medium-6;

  &.full {
    @extend .medium-12;
  }
}

#splash {
  @extend %hero-unit;
  background-image: url('/images/tea.jpg');

  h1 {
    margin-top: 20vh;
  }

  .button-set {
    @extend .row;
    text-align: right;
  }

  .subheader-left {
    @extend .columns;
    @extend .small-6;
    padding: 2em 0vw 0.5em;

    h2 { text-align: left; }
  }

  .subheader-right {
    @extend .columns;
    @extend .small-6;
    padding: 2em 0 0;

    h2 { text-align: right; }
  }
}

#the-problem {
  @extend %hero-unit;

  background-image: url('/images/pasta.jpg');
}

#the-solution {
  @extend %hero-unit;

  background-image: url('/images/mango-and-avocado.jpg');
}

#how-it-works {
  @extend %hero-unit;
  background-image: url('/images/raspberries.jpg');
}

#cook-eat-repeat {
  @extend %hero-unit;
  background-image: url('/images/cappuccino.jpg');
}

#relax {
  @extend %hero-unit;
  background-image: url('/images/cocktail.jpg');
}
#hungry {
  @extend %hero-unit;
  background-image: url('/images/knife-and-fork.jpg');
}
