.error-page
    h1 Whoops!
    h2 Are you sure you're you?

    .error-page-content

        p Either you've been logged out or we caught you trying to look at something that's not yours.

        p Would you mind logging back in?

        .button-row

            a.standard-btn(ng-click='showLogin()') Login
            a.standard-btn(ng-click='phoneHome()') Phone Home
