.recipe(ng-class="instructions.theme")
    .header
        .meal-name {{ instructions.theme }}
        //.preference
            icon name='{{instructions.rating}}'
        h1 {{ instructions.title }}
    .instructions-content-box
        .quick-info
            h2.sr-only Recipe Info
            .serves
                h2.sr-only Number Served
                span.serves-original(ng-if="!instructions.serves.originalAmount")
                    icon(name='people')
                    | {{ instructions.serves.currentAmount }}
                span.serves-scaled(ng-if="instructions.serves.originalAmount")
                    icon(name='people')
                    | {{ instructions.serves.currentAmount}} (orig. {{ instructions.serves.originalAmount }})
            .timeframe
                h2.sr-only Time for Cooking
                span.time-for-cooking.has-tip(tooltip='{{ instructions.timeframe.breakdownText }}')
                    icon(name='clock')
                    | {{ instructions.timeframe.displayText }}
        .recipe-description
            h2.sr-only Recipe Description
            | {{ instructions.description }}
        .recipe-info-box
            h2.sr-only Cusine, Tags, and Difficulty
            .cuisines
                .cuisine(ng-repeat='cuisine in instructions.cuisines') {{ cuisine.name }}
            .tags
                .tag(ng-repeat='tag in instructions.tags') {{ tag.name }}
            .difficulty(ng-class="instructions.difficulty") {{ instructions.difficulty }}

        .middle-instructions
            // Display in columns if there are 10 or more ingredients
            .ingredients-list.circled-star-list
                h2.sr-only Ingredients List
                ul(ng-class="{ columnized: instructions.ingredients.length >= 10 }")
                    li(ng-repeat='ingredient in instructions.ingredients') {{ ingredient.text }}
            .timeframe-and-serve-with
                .serve-with
                    h4 Try it with
                    ul.circled-star-list
                        li(ng-repeat='suggestion in instructions.serveWith') {{ suggestion.name }}
        .row
            .step-list
                ol.circled-number-list
                    .step(ng-repeat='step in instructions.steps', ng-include="'views/components/instructions/instructionStep.html'")
