.error-page
    h1 Let's Get Started
    h2 It's easy

    .error-page-content
        p Just hook us up with one of your social media sites and we'll go from there.

        .button-row
            a.standard-btn(ng-click="authenticate('google')") Sign in with Google
            a.standard-btn(ng-click="authenticate('facebook')") Sign in with Facebook
